div.Main form.form-group {
	width: 300px;
}

div#root {
	padding: 20px 0;
}

div.Main a.btn.btn-primary.btn-block {
	width: 100%;
}

div.Main .card {
	margin-bottom: 20px;
}

div.Main h1 {
	margin-bottom: 18px;
}